.menu{
    background-color: #018AB8;
    color: #fff;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.previous{
    width: 25%;
    text-align: center;
}

.menuLinks{
    display: flex;
    list-style: none;
    width: 75%;
    justify-content: space-around;
}

.menuLinks li{
    cursor: pointer;
}

.activeLink{
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}
